<div id="album-carousel" class="carousel slide" data-interval="false" style="height: 100vh; background-color: #222">
    <ol class="carousel-indicators">
        {{#each images}}
            <li data-target="#album-carousel" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
        {{/each}}
    </ol>
    <div class="carousel-inner">
        {{#each images}}
            <div class="carousel-item {{#unless @index}} active {{/unless}}">
                <img class="d-block w-100" src="/{{this.Key}}">
            </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#album-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#album-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>