<a href="/manage">Manage</a>
<div class="image-wrapper">
{{#each albums}}
    <div class="image">
        <a href="/a/{{AlbumId}}">
            <img style="width: 200px" src="/{{Key}}">
        </a>
    </div>
{{/each}}
</div>
<style>
    .image-wrapper{
        width:100vw;
        height:100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .image{
        padding:25px;
    }
    .image form{
        display: flex;
        flex-direction: column;
    }
</style>