<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/image.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="{{imageId}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/{{imageId}}.{{fileExtension}}" />
    <meta property="twitter:image" content="/{{imageId}}.{{fileExtension}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:description" content="screenshot" />
</head>

<body>
    <img src="/{{imageId}}.{{fileExtension}}">
</body>

</html>