<a href="/a">Albums</a>
<div class="image-wrapper">
{{#each images}}
    <div class="image">
        <form class="album-selection">
            <input type="hidden" name="imageKey" value="{{Key}}"/>
            <img style="width: 200px" src="/{{FileName}}">
            <select multiple class="album-select">
                <option label="-- select an option --" selected>-1</option>
                <option label="-- create new --">0</option>
                {{#each ../albums}}
                    <option label="{{Name}}">{{this.Id}}</option>
                {{/each}}
            </select>
        </form>
    </div>
{{/each}}
</div>
<style>
    .image-wrapper{
        width:100vw;
        height:100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .image{
        padding:25px;
    }
    .image form{
        display: flex;
        flex-direction: column;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    $("select.album-select").on("change", function(){
        if($(this).val() == 0){
            const albumName = prompt("Enter a name: ");
            if(albumName === "") return;
            $.post(`/a/${albumName}`).then((res)=>{
                location.reload();
            });
        } else {
            const album = $(this).val();
            const image = $(this).parent(".album-selection").find("input[name=imageKey]").val()
            $.post(`/a/${album}/i/${image}`)
        }



    })
</script>