body,
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
}

.cover-image {
    height: 100%;
    background: url("landing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.login {
    display: flex;
    flex-direction: column;
    border: 1px solid #1A2C3D;
    background: #14222F;
    color: white;
    width: 250px;
}

div.login-form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
}

.form-container .login-form-group:last-child {
    margin-bottom: 10px;
}

div.login div.heading {
    padding: 5px 10px;
    border-bottom: 1px solid #1A2C3D;
}

.link-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #1A2C3D;
}

.link-button:first-of-type {
    border-right: 1px solid #1A2C3D;
}

.link-buttons a {
    color: white;
    text-decoration: none;
}

.link-button {
    width: 100%;
    height: 22px;
}